{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}

 <!-- Start Atribute Navigation -->
 <div class="attr-nav">
    <ul>
        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
        <li class="side-menu"><a href="#">
        <i class="fa fa-shopping-bag"></i>
            <span class="badge">3</span>
    </a></li>
    </ul>
</div>
<!-- End Atribute Navigation -->
</div>
<!-- Start Side Menu -->
<div class="side">
<a href="#" class="close-side"><i class="fa fa-times"></i></a>
<li class="cart-box">
    <ul class="cart-list">
        <li>
            <a href="#" class="photo"><img src="images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
            <h6><a href="#">Delica omtantur </a></h6>
            <p>1x - <span class="price">$80.00</span></p>
        </li>
        <li>
            <a href="#" class="photo"><img src="images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
            <h6><a href="#">Omnes ocurreret</a></h6>
            <p>1x - <span class="price">$60.00</span></p>
        </li>
        <li>
            <a href="#" class="photo"><img src="images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
            <h6><a href="#">Agam facilisis</a></h6>
            <p>1x - <span class="price">$40.00</span></p>
        </li>
        <li class="total">
            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
            <span class="float-right"><strong>Total</strong>: $180.00</span>
        </li>
    </ul>
</li>
</div>
<!-- End Side Menu -->
</nav>
<!-- End Navigation -->
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
<div class="container">
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-search"></i></span>
<input type="text" class="form-control" placeholder="Search">
<span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
</div>
</div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
<div class="container">
<div class="row">
<div class="col-lg-12">
    <h2>Shop</h2>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Shop</li>
    </ul>
</div>
</div>
</div>
</div>
<!-- End All Title Box -->



 <!-- Start Shop Page  -->
 <div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Buscar..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- minimenu-->
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Ordenar </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                <option data-display="Select">Todos</option>
                                <option value="1">Populares</option>
                                <option value="2">Menor a mayor precio </option>
                                <option value="3">Mayor a menor precio</option>
                                <option value="4">Más recientes</option>
                            </select>
                            </div>
                            <p>Mostrando resultados</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    {%for producto in mostrar_productos%}
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <!-- el valor de la etiqueta se puede cambiar por new -->
                                                    <!-- <p class="sale">Sale</p> -->
                                                </div>
                                                <img src="{{url_for('static',filename='/images/platos.jpg')}}" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <!-- <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li> -->
                                                    </ul>
                                                    <a class="cart" href="/carrito">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                              
                                                <h4>{{producto.nombre}}</h4>
                                                <h5> $ {{producto.precio}}</h5>
                                               
                                            </div>
                                        </div>
                                       
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            <!-- panel lateral para mostrar detalles del producto -->
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                {%for producto in mostrar_productos%}
                                <div class="list-view-box">
                                    <div class="row">
                                        
                                   
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">New</p>
                                                    </div>
                                                    <img src="{{url_for('static',filename='/images/platos.jpg')}}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4>{{producto.nombre}}</h4>
                                                <h5> $ {{producto.precio}}</h5>
                                                <p> {{producto.descripcion}}.</p>
                                                <p> {{session['taller']}}</p>
                                        
                                                <a class="btn hvr-hover" href="/carrito">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                {%endfor%}
                            </div>
                            <!-- end panel lateral para mostrar detalles del producto -->
                        </div>
                        
                    </div>

                </div>
            </div>
            <!-- end minimenu -->
        </div>
    </div>
    <!-- Agregué script para carrito de compras -->
<script src ="{{url_for('static', filename='vendor/minicart.js')}}"></script>
<script>
    $(document).ready( function(){

        paypal.minicart.render({
            string:{
                button: 'Ver'
                ,buttonAlt: "Total:"
                ,subtotal: 'Total:'
                ,empty: 'No hay productos en el carrito'
            }
        });

        $('.producto').click(function(e){
            e.stopPropagation();
            console.log("agregando!")
            
            console.log ($(this).attr("titulo"))
            console.log ($(this).attr("precio"))
            paypal.minicart.cart.add({
                business: 'nanidisenografico@gmail.com', 
                item_name: $(this).attr("titulo"),
                    amount: $(this).attr("precio"),
                    currency_code: 'EUR',
    
            });
            
        });
    });
</script>
</div>
<!-- End Shop Page -->


{% endblock %}



