{% extends 'base.html' %}

{% block title %} publica producto {% endblock %}

{% block content %}

<div class="contact-box-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<div class="contact-info-left">
					<h2>Instrucciones</h2>
					<p>Completa el formulario de registro de tu Producto. </p>
					<ul>
						<li>
							<p>Dudas o comentarios? </p>
						</li>
						<li>
							<p><i class="fas fa-envelope"></i>Email: <a href="#">ofen@gmail.com</a></p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-8 col-sm-12">
				<div class="contact-form-right">
					<h2>Registra los datos de tu Producto</h2>
				
					
					<form action="/procesar/producto" , method="post">
						{% with messages = get_flashed_messages(category_filter=['error'] ) %}
						{% if messages %}
							<div class="text-center text-danger">
								<h1>Alerta!!!</h1>
							</div>
							{% for message in messages %}
								<div class="alert alert-danger" role="alert">
									<p>{{message}}</p>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% with messages = get_flashed_messages(category_filter=['success'] ) %}
						{% if messages %}
							<div class="text-center text-danger">
								<h1>Great!!!</h1>
							</div>
							{% for message in messages %}
								<div class="alert alert-success" role="alert">
									<p>{{message}}</p>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del Producto" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="autor" name="autor" placeholder="Nombre del autor" required >
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" required >
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="number" class="form-control" id="precio" name="precio" placeholder="Precio" required >
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<!-- agregué esto para subir las fotos -->
						<div class="input-container ic1">
							<form action="/publicar_producto" class="col-md-6" method="post" enctype="multipart/form-data"></form>
							<input id="file" class="input" type="file" placeholder=" " name="file" required />
							<div class="cut"></div>
							<label for="file" class="placeholder">imagen</label>
							</form> </div>
							<!-- fin de formulario -->

							<div class="col-md-12">
								<div class="submit-button text-center">
									<button class="btn hvr-hover" id="submit" type="submit">Publicar</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- fin de formulario -->





<!-- Agregué script para carrito de compras -->
<script src ="{{url_for('static', filename='vendor/minicart.js')}}"></script>
<script>
    $(document).ready( function(){

        paypal.minicart.render({
            string:{
                button: 'Ver'
                ,buttonAlt: "Total:"
                ,subtotal: 'Total:'
                ,empty: 'No hay productos en el carrito'
            }
        });

        $('.producto').click(function(e){
            e.stopPropagation();
            console.log("agregando!")
            
            console.log ($(this).attr("titulo"))
            console.log ($(this).attr("precio"))
            paypal.minicart.cart.add({
                business: 'nanidisenografico@gmail.com', 
                item_name: $(this).attr("titulo"),
                    amount: $(this).attr("precio"),
                    currency_code: 'EUR',
    
            });
            
        });
    });
</script>
{% endblock %}
<!-- fin de formulario -->
