{% extends 'base.html' %}

{% block title %} taller proxima hr {% endblock %}

{% block content %}
<!-- fondo gris claro -->
<div id="gtco-features-2">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Lista de talleres</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre del taller</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Comuna</th>
                            <th scope="col">Prox Día</th>
                            <th scope="col">Prox Hora</th>
                            <th scope="col">Detalles de horno y agenda</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for taller in talleres %}
                        <tr>
                            <td>{{taller.nombre}}
                            </td>
                            <td>{{taller.direccion}}</td>
                            <td>{{taller.comuna}}</td>
                            <td>{{taller.fecha_inicio}}</td>
                            <td>{{taller.hora_inicio}}</td>
                            <td><a href="/view/{{taller.id}}">Detalles</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- fin de fondo gris claro -->


{% endblock %}